<!-- mybatis-config.xml -->
<configuration>
    <!-- 其他配置 -->

<!--    <plugins>-->
<!--        &lt;!&ndash; 配置PageHelper拦截器 &ndash;&gt;-->
<!--        <plugin interceptor="com.github.pagehelper.PageInterceptor">-->
<!--            <property name="helperDialect" value="mysql"/>-->
<!--            <property name="reasonable" value="true"/>-->
<!--        </plugin>-->
<!--    </plugins>-->
</configuration>
